#left {
	height: 800px;
	width: 998px;
	margin-top: 0px;
}
#left1 {
	height: 310px;
	width: 740px;
}
#left1 {
	height: 782px;
	width: 998px;
	background-image: url(Images/background%E5%89%AF%E6%9C%AC.png);
}
